/* Common */
/* * {
  padding: 0;
  margin: 0;
} */
body#qrEncBody {
  line-height: 1.4em;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body#qrEncBody .clear {
  clear: both;
}
body#qrEncBody .center {
  text-align: center;
}
body#qrEncBody .right {
  text-align: right;
}
body#qrEncBody .floatLeft {
  float: left;
}
body#qrEncBody .floatRight {
  float: right;
}
body#qrEncBody .floatLeftWrapper:after, body#qrEncBody .floatRightWrapper:after {
  content: '';
  display: block;
  clear: both;
}

body#qrEncBody a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}
body#qrEncBody img {
  border: 0;
}
body#qrEncBody ul {
  list-style-type: none;
}
/* Common */

/* Dark */
@media (prefers-color-scheme: dark) {
  body#qrEncBody {
    background-color: #0c0c0c;
    color: #cccccc;
  }
  body#qrEncBody a {
    color: #cccccc;
  }
}
/* Dark */

/* Page Container */
body#qrEncBody div#pageContainer {
  display: none;
}
/* Page Container */

/* QR Text */
body#qrEncBody div#qrTextContainer header {
  height: 64px;
  line-height: 64px;
  padding-left: 20px;
  color: white;
}
body#qrEncBody div#qrTextContainer div#qrTextAreaContainer {
  margin-left: 2px;
  margin-right: 6px;
  margin-top: 24px;
}
body#qrEncBody div#qrTextContainer textarea#qrText {
  min-height: 60px;
}
body#qrEncBody div#qrTextContainer textarea#qrText:focus {
  border-bottom-color: #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}
body#qrEncBody div#qrTextContainer i#qrTextClear {
  position: absolute;
  top: -12px;
  right: 2px;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}
/* QR Text */

/* QR Image */
body#qrEncBody div#qrImgContainer {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}
body#qrEncBody div#qrImgContainer div#qrGeneratorInfo {
  margin-right: 10px;
  text-align: right;
  font-size: x-small;
  color: #bababa;
}
body#qrEncBody div#qrImgContainer div#qrGeneratorInfo a {
  color: #bababa;
  text-decoration: underline;
}
body#qrEncBody div#qrImgContainer canvas#qrImgCanvas {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
  cursor: pointer;
}
/* QR Image */

/* Dark */
@media (prefers-color-scheme: dark) {
  /* QR Text */
  body#qrEncBody div#qrTextContainer textarea#qrText {
    color: #cccccc;
  }
  /* QR Text */

  /* QR Image */
  body#qrEncBody div#qrImgContainer {
    box-shadow: 0 3px 1px -2px rgba(255,255,255,.28),0 2px 2px 0 rgba(255,255,255,.196),0 1px 5px 0 rgba(255,255,255,.168);
  }
  body#qrEncBody div#qrImgContainer div#qrGeneratorInfo {
    color: #434343;
  }
  body#qrEncBody div#qrImgContainer div#qrGeneratorInfo a {
    color: #434343;
  }
  body#qrEncBody div#qrImgContainer canvas#qrImgCanvas {
    box-shadow: 0 3px 5px -1px rgba(255,255,255,.28),0 6px 10px 0 rgba(255,255,255,.196),0 1px 18px 0 rgba(255,255,255,.168);
  }
  /* QR Image */
}
/* Dark */
