/* Defines */
:root {
    --color-windows-blue: #0078d7;
    --color-gray: #5a5a5a;
    --color-light-gray: #e0e0e0;
    --color-lighter-gray: #f0f0f0;
    --height-toolbar: 48px;
    --tooltip-back-color: rgba(0,0,0,0.78);
    --height-statusbar: 32px;
}
/* Defines */

/* Common */
* {
    padding: 0;
    margin: 0;
}
body {
    line-height: 1.4em;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: default;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    user-select: none;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: var(--color-windows-blue);
}
a:active {
    color: var(--color-windows-blue);
}

img {
    border: 0;
}
ul {
    list-style-type: none;
}
.noBsFocus:focus, .noBsFocus.focus {
    box-shadow: none !important;
}
/* Common */

/* Body */
body {
    width: 100%;
}
/* Body */

/* Toolbar */
#divToolbarWrapper {
    width: 100%;
    height: var(--height-toolbar);
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(245,245,247,0.6);
    backdrop-filter: blur(40px);
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.5s;
}
#divToolbarWrapper.toolbarScrolled {
    box-shadow: 0 -2px 20px rgba(0,0,0,0.3);
    transition: box-shadow 0.5s;
}
#divToolbarWrapper #divPathDropInfo {
    display: none;
    line-height: var(--height-toolbar);
    color: var(--color-windows-blue);
}
#divToolbarWrapper #divPathContent {
    color: var(--color-gray);
    line-height: var(--height-toolbar);
}
#divToolbarWrapper #divPathContent .pathDirname {
    color: var(--color-windows-blue);
    /* font-weight: bold; */
}
#divToolbarWrapper.dropInfo #divPathDropInfo {
    display: block;
}
#divToolbarWrapper.dropInfo #divPathContent {
    display: none;
}
#divToolbarWrapper #divFilterBlock {
    position: relative;
}
#divToolbarWrapper #divFilterBlock #inputFilter {
    width: 200px;
    padding-right: 24px;
    border-color: var(--color-light-gray);
}
#divToolbarWrapper #divFilterBlock #inputFilter:focus,
#divToolbarWrapper #divFilterBlock #inputFilter.focus {
    border-color: var(--color-windows-blue);
}
#divToolbarWrapper #divFilterBlock #divFilterClear {
    position: absolute;
    top: 13px;
    right: 6px;
}
#divToolbarWrapper #divFilterBlock .filterClear {
    color: gray;
}
#divToolbarWrapper #divFilterBlock .filterClear.focus {
    color: black;
}
#divToolbarWrapper .toolbarBtn {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
#divToolbarWrapper .toolbarBtn:disabled, #divToolbarWrapper .toolbarBtn.disabled {
    color: gray;
}
#divToolbarWrapper .toolbarBtn:hover {
    /* background-color: #f6f6f6; */
    background-color: transparent;
    border-color: var(--color-windows-blue);
}
#divToolbarWrapper .toolbarBtn:focus, #divToolbarWrapper .toolbarBtn.focus {
    background-color: var(--color-lighter-gray);
    /* background-color: #f6f6f6; */
    /* border-color: var(--color-light-gray); */
    border-color: var(--color-windows-blue);
}
/* Toolbar */

/* Dialog */

/* Dialog */

/* Image list */
#divContentWrapper {
    /* overflow-x: hidden;
    overflow-y: auto; */
    margin-top: var(--height-toolbar);
    margin-bottom: var(--height-statusbar);
    position: relative;
}
#divLoadingWrapper {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#divImageList .imageBlock {
    width: 220px;
    /* height: 225px; */
    overflow: hidden;
    padding: 10px 10px;
    margin: 5px 5px;
}
#divImageList .imageBlock.filterOut {
    display: none;
}
#divImageList .imageBlock .imageWrapper {
    height: 160px;
    position: relative;
}
#divImageList .imageBlock .imageWrapper .imageMeta {
    position: absolute;
    bottom: 4px;
    /* right: 6px; */
    font-size: 12px;
    line-height: 14px;
    color: white;
    text-shadow: 0 0 4px black;
}
#divImageList .imageBlock .imageWrapper .imageMeta.imageMetaPortrait {
    color: black;
    text-shadow: 0 0 4px white;
}
#divImageList .imageBlock .infoWrapper {
    height: 40px;
    margin-top: 6px;
    overflow: hidden;
}
#divImageList .imageBlock .infoWrapper .imageInfo {
    max-width: 200px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 16px;
    overflow-wrap: anywhere;
    word-break: break-all;
    user-select: text;
}
#divImageList .imageSelected .imageInfo {
    color: white;
    background-color: var(--color-windows-blue);
}
#divLoadingWrapper #divLoadingBlock {
    width: 100%;
}
#divLoadingWrapper #divLoadingBlock .spinner-border {
    color: var(--color-windows-blue);
    border-width: 3px;
}
#divLoadingWrapper #divLoadingBlock #divLoadingText {
    margin-left: 10px;
}
/* Image list */

/* Statusbar */
#divStatusBarWrapper {
    width: 100%;
    height: var(--height-statusbar);
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    border-top: 1px solid var(--color-light-gray);
    font-size: 14px;
    color: var(--color-gray);
}
#divStatusBarWrapper #divImageMetaInfo #divImageSizeIcon {
    width: 30px;
}
#divStatusBarWrapper #divImageMetaInfo #divImageSizeInfo {
    width: 100px;
}
#divStatusBarWrapper #divImageMetaInfo #divFileSizeInfo {
    width: 70px;
}
/* Statusbar */

/* Others */
#divToastWrapperLeft, #divToastWrapperRight {
    position: fixed;
    bottom: var(--height-statusbar);
    margin-bottom: 16px;
}
#divToastWrapperLeft {
    left: 0;
    margin-left: 22px;
}
#divToastWrapperRight {
    right: 0;
    margin-right: 22px;
}
#divToastWrapperLeft .toast, #divToastWrapperRight .toast {
    margin-top: 20px;
}
#divToastWrapperLeft .toast .toast-body,
#divToastWrapperRight .toast .toast-body {
    overflow-wrap: anywhere;
    word-break: break-all;
    max-width: 320px;
}
#divToastWrapperLeft .toast .toast-body .highlight,
#divToastWrapperRight .toast .toast-body .highlight {
    color: var(--color-windows-blue);
}

.tooltip-inner {
    background-color: var(--tooltip-back-color) !important;
}
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--tooltip-back-color) !important;
}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--tooltip-back-color) !important;
}
/* Others */

/* Footer */
/* Footer */
