/* Defines */
:root {
    --color-windows-blue: #0078d7;
    --color-light-gray: #e0e0e0;
}
/* Defines */

/* Common */
* {
    padding: 0;
    margin: 0;
}
body {
    line-height: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    cursor: default;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: var(--color-windows-blue);
}
a:active {
    color: var(--color-windows-blue);
}

img {
    border: 0;
}
ul {
    list-style-type: none;
}
/* Common */

/* Body */
body {
    width: 100%;
}
/* Body */

/* Toolbar */
#divToolbarWrapper {
    height: 60px;
    border-bottom: 1px solid var(--color-light-gray);
}
#divToolbarWrapper #divPathDropInfo {
    display: none;
    line-height: 60px;
    color: var(--color-windows-blue);
}
#divToolbarWrapper #divPathContent {
    line-height: 60px;
}
#divToolbarWrapper.dropInfo #divPathDropInfo {
    display: block;
}
#divToolbarWrapper.dropInfo #divPathContent {
    display: none;
}
/* Toolbar */

/* Dialog */

/* Dialog */

/* Image list */
#divContentWrapper {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
#divLoadingWrapper {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#divLoadingWrapper #divLoadingBlock {
    width: 100%;
}
#divLoadingWrapper #divLoadingBlock .spinner-border {
    color: var(--color-windows-blue);
}
#divLoadingWrapper #divLoadingBlock #divLoadingText {
    margin-left: 10px;
}
#divImageList .imageBlock {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
#divImageList .imageBlock .imageWrapper {
    height: 160px;
}
#divImageList .imageBlock .infoWrapper {
    height: 40px;
}
/* #divImageList .imageBlock .infoWrapper .imageInfo {
    text-overflow: ellipsis;
    white-space: nowrap;
} */
/* Image list */

/* Footer */
/* Footer */

/* Filter */
.filterBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 275px;
    height: 48px;
    line-height: 48px;
    background-color: white;
    border-radius: 6px 0 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    user-select: none;
    overflow: hidden;
    display: none;
}
.filterBox.filterShow {
    display: block;
}
.filterBox input[type='text'] {
    float: left;
    width: 160px;
    height: 20px;
    margin: 14px 10px 0 16px;
    border: 0;
    border-bottom: 1px solid var(--color-light-gray);
    border-radius: 0;
    outline: none;
    font-size: 16px;
}
.filterBox input[type='text']:focus {
    border-color: var(--color-windows-blue);
}
.filterBox .filterButton {
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 14px 10px 0 0;
    cursor: pointer;
}
.filterBox .filterButton .materialIcons {
    font-size: 20px;
}
.filterBox #filterBtnClose {
    margin-left: 10px;
    color: var(--color-gray);
}
.filterBox #filterBtnClose:hover {
    color: var(--color-windows-blue);
}
.filterBox #filterBtnClose:active {
    color: var(--color-windows-blue);
}
/* Filter */

/* Others */

/* Others */
